.toolbar {
  background-color:black;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

#logo {
  margin-left: 40px;
}

#status {
  margin-left: 10%;
}

#cash-balance {
  float: right;
  margin-right: 20px;
}
