<form (ngSubmit)="onSubmit()" #PackingList="ngForm">
    <div class="form-group">
        <button type="button" class="btn btn-success pull-right" id="autoComplete" (click)="autoComplete()">Autocomplete</button>
        <br>
        <br>
      <div class="form-inline">
        <input type="text" class="form-control" id="orderNumber" placeholder="Order No" required [(ngModel)]="pl.orderNumber" name="orderNumber">
      </div>
    </div>

    <div class="form-group">
      <div class="form-inline">
      <input type="text" class="form-control" id="transportMethod" required [(ngModel)]="pl.transportMethod" name="transportMethod" placeholder="Transport Method">
      <input type="text" class="form-control" id="nameOfVessel" required [(ngModel)]="pl.nameOfVessel" name="nameOfVessel" placeholder="Name of Vessel">
      <input type="text" class="form-control" id="billOfLadingNumber" required [(ngModel)]="pl.billOfLadingNumber" name="billOfLadingNumber" placeholder="BoL Id">
      </div>
    </div>

    <div class="form-group">
        <label>Seller</label>
        <input type="text" class="form-control" id="sellerName" placeholder="Name" [(ngModel)]="pl.sellerName" name="sellerName" placeholder="Seller">

        <div class="form-inline">
          <input type="text" class="form-control" id="sellerAddress" placeholder="Address" [(ngModel)]="pl.sellerAddress" name="sellerAddress" placeholder="Seller Address">
          <input type="text" class="form-control" id="sellerPhone" placeholder="Phone" [(ngModel)]="pl.sellerPhone" name="sellerPhone" placeholder="Seller Phone">
        </div>
    </div>

    <div class="form-group">
        <label>Buyer</label>
        <input type="text" class="form-control" id="buyerName" placeholder="Name" [(ngModel)]="pl.buyerName" name="buyerName" placeholder="Buyer">

        <div class="form-inline">
          <input type="text" class="form-control" id="buyerAddress" placeholder="Address" [(ngModel)]="pl.buyerAddress" name="buyerAddress" placeholder="Buyer Address">
          <input type="text" class="form-control" id="buyerPhone" placeholder="Phone" [(ngModel)]="pl.buyerPhone" name="buyerPhone" placeholder="Buyer Phone">
        </div>
    </div>

      <div class="form-group">
          <label>Goods</label>
          <div class="form-inline">
            <input type="text" placeholder="Description" class="form-control" id="goodsDescription" placeholder="Description" [(ngModel)]="pl.goodsDescription" name="goodsDescription">
            <input type="text" placeholder="Order Ref" class="form-control" id="goodsPurchaseOrderRef" placeholder="Purchase Order Ref" [(ngModel)]="pl.goodsPurchaseOrderRef" name="goodsPurchaseOrderRef">
            <input type="text" placeholder="Quantity" class="form-control" id="goodsQuantity" placeholder="Quantity" [(ngModel)]="pl.goodsQuantity" name="goodsQuantity">
            <input type="text" placeholder="Price" class="form-control" id="goodsUnitPrice" placeholder="Unit Price" [(ngModel)]="pl.goodsUnitPrice" name="goodsUnitPrice">
            <input type="text" placeholder="Weight" class="form-control" id="goodsGrossWeight" placeholder="Gross Weight" [(ngModel)]="pl.goodsGrossWeight" name="goodsGrossWeight">
          </div>
      </div>

      <input type="file">
      <input type="submit" class="submit button" id="one" value="Submit">

  </form>
