<div class="wrapper">
  <h1 class="mega montserrat bold">
    Letter of Credit on
    <span class="color-emphasis-1">Corda.</span>
  </h1>
  <h1 class="mega montserrat">
    Assign roles to your
    <span class="color-emphasis-1">nodes.</span>
  </h1>
</div>

<div class='selector'>
  <ul>
    <li>
      <input id='1' type='checkbox' (click)="lookupPeer('Buyer')">
      <label for='1'>Buyer</label>
    </li>
    <li>
      <input id='2' type='checkbox' (click)="lookupPeer('Seller')">
      <label for='2'>Seller</label>
    </li>
    <li>
      <input id='3' type='checkbox' (click)="lookupPeer('Issuing Bank')">
      <label for='3'>Advising Bank</label>
    </li>
    <li>
      <input id='4' type='checkbox' (click)="lookupPeer('Advising Bank')">
      <label for='4'>Issuing Bank</label>
    </li>
    <li>
      <input id='5' type='checkbox' (click)="lookupPeer('Central Bank')">
      <label for='5'>Central Bank</label>
    </li>
  </ul>
  <button (click)="launch($event)" id="launch">{{launchText}}</button>
</div>


<div class='wrap'>
  <div class='role-content'>
    <table class="table table-condensed table-striped">
      <thead>
        <th>Name</th>
        <th>Role</th>
        <th>Port</th>
        <th>Letter of Credit</th>
        <th>Wildfire</th>
      </thead>
      <tbody>
        <tr *ngFor="let peer of peerMapping">
          <td>{{peer.name}}</td>
          <td>{{peer.role}}</td>
          <td>{{peer.port}}</td>
          <td>
            <button *ngIf="peer.role !== 'Central Bank'" (click)="launchPage(peer.role, peer.port, $event)" type="button" class="btn btn-primary btn-info-full next-step">Launch</button>
          </td>
          <td><button *ngIf="peer.role === 'Advising Bank' || peer.role === 'Issuing Bank' || peer.role === 'Central Bank'" (click)="launchPage(peer.role, peer.port, $event, true)" type="button" class="btn btn-primary btn-info-full next-step">Launch</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
