<div class="component">
  <div class="panel-heading">Invoices</div>
  <div class="panel-body">
    <div class="grid grid-pad">
      <table class="table table-condensed table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Buyer</th>
          <th>Seller</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Description</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of invoices" class="clickable">
            <td>
                <a (click)="openInvoiceModal(invoice.invoiceId)">{{invoice.invoiceId}}</a>
            </td>
            <td>
                <a (click)="openInvoiceModal(invoice.invoiceId)">{{invoice.buyerName}}</a>
            </td>
            <td>
                <a (click)="openInvoiceModal(invoice.invoiceId)">{{invoice.sellerName}}</a>
            </td>
            <td>
                <a (click)="openInvoiceModal(invoice.invoiceId)">{{invoice.goodsQuantity}}</a>
              </td>
              <td>
                <a (click)="openInvoiceModal(invoice.invoiceId)">{{invoice.goodsUnitPrice}}</a>
              </td>
              <td>
                <a (click)="openInvoiceModal(invoice.invoiceId)">{{invoice.goodsDescription}}</a>
              </td>
            <td>
                <span ng-disabled="invoice.assigned" (click)="openModalWithComponent(invoice)" class="action"><img src="assets/hand.png" height="20px" class="action-img">Apply for LOC</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
