<div class="component">
    <div class="panel-heading">Live Orders</div>
    <div class="panel-body">
      <div class="grid grid-pad">
        <table class="table table-condensed table-striped table-hover">
          <thead>
          <tr>
            <th>Id</th>
            <th>Applicant</th>
            <th>Beneficiary</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <ng-container *ngFor="let loc of locs">
                <tr *ngIf="loc.status != 'Live'">
              <td>
                  <a [routerLink]="['/approve', loc.id]">{{loc.orderRef}}</a>
              </td>
              <td>
                  <a [routerLink]="['/approve', loc.id]">{{loc.applicant}}</a>
              </td>
              <td>
                  <a [routerLink]="['/approve', loc.id]">{{loc.beneficiary}}</a>
              </td>
              <td>
                  <a [routerLink]="['/approve', loc.id]">{{loc.amount + " " + loc.currency}}</a>
              </td>
              <td>
                  <a [routerLink]="['/approve', loc.id]">{{loc.description}}</a>
              </td>
              <td>
                <a [routerLink]="['/approve', loc.id]">{{loc.status}}</a>
              </td>
              <td>
                <button type="button" class="btn btn-info btn-sm" (click)="openBol(loc.orderRef)">Bill of Lading</button>
              </td>
              <td>
                <button type="button" class="btn btn-info btn-sm" (click)="openPackingList(loc.orderRef)">Packing List</button>
              </td>
              <td>
                <button class="btn btn-success btn-sm" role="button" (click)="payIssuer(loc.orderRef)" [disabled]="loc.status == 'Issuer Paid'">Settle</button>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
