<div class="component">
    <div class="panel-heading">Applications awaiting approval</div>
    <div class="panel-body">
      <div class="grid grid-pad">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>Applicant</th>
            <th>Beneficiary</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr *ngFor="let loc of locs">
              <td hidden>
                <a (click)="openLocModal(loc.id)">{{loc.id}}</a>
              </td>
              <td>
                  <a (click)="openLocModal(loc.id)">{{loc.applicant}}</a>
              </td>
              <td>
                  <a (click)="openLocModal(loc.id)">{{loc.beneficiary}}</a>
              </td>
              <td>
                  <a (click)="openLocModal(loc.id)">{{loc.amount}}</a>
              </td>
              <td>
                  <a (click)="openLocModal(loc.id)">{{loc.description}}</a>
              </td>
              <td>
                  <span (click)="openLocModal(loc.id)" class="action"><img src="assets/form.png" height="20px" class="action-img">View Application</span>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
