<div *ngIf="inv">
  <label class="control-label col-sm-2" for="invoiceDate">Date</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="invoiceDate" [ngModel]="inv.invoiceDate | date" name="invoiceDate" disabled>
  </div>

  <label class="control-label col-sm-2" for="invoiceId">ID</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="invoiceId" [(ngModel)]="inv.invoiceId" name="invoiceId" disabled>
  </div>

  <label class="control-label col-sm-2" for="sellerName">Seller Name</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="sellerName" [(ngModel)]="inv.sellerName" name="sellerName" disabled>
  </div>

  <label class="control-label col-sm-2" for="sellerAddress">Seller Address</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="sellerAddress" [(ngModel)]="inv.sellerAddress" name="sellerAddress" disabled>
  </div>

  <label class="control-label col-sm-2" for="buyerName">Buyer Name</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="buyerName" [(ngModel)]="inv.buyerName" name="buyerName" disabled>
  </div>

  <label class="control-label col-sm-2" for="buyerAddress">Buyer Address</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="buyerAddress" [(ngModel)]="inv.buyerAddress" name="buyerAddress" disabled>
  </div>

  <label class="control-label col-sm-2" for="goodsDescription">Goods Desc</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="goodsDescription" [(ngModel)]="inv.goodsDescription" name="goodsDescription"
      disabled>
  </div>

  <label class="control-label col-sm-2" for="goodsQuantity">Quantity</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="goodsQuantity" [(ngModel)]="inv.goodsQuantity" name="goodsQuantity" disabled>
  </div>

  <label class="control-label col-sm-2" for="goodsUnitPrice">Unit Price</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="goodsUnitPrice" [(ngModel)]="inv.goodsUnitPrice" name="goodsUnitPrice" disabled>
  </div>

  <label class="control-label col-sm-2" for="goodsGrossWeight">Gross Weight</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="goodsGrossWeight" [(ngModel)]="inv.goodsGrossWeight" name="goodsGrossWeight"
      disabled>
  </div>

  <label class="control-label col-sm-2" for="term">Term</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="term" [(ngModel)]="inv.term" name="term" disabled>
  </div>

  <hr>

  <div class="row col-sm-12">
    <h4>Transaction Info</h4>
  </div>

  <div class="transactions">
  <div class="row form-group col-sm-12">
    <label>Hash</label>
    <div class="txInfo">{{inv.transactionHash}}</div>
  </div>

    <div *ngFor="let signature of inv.signatures; let idx = index">
      <div class="row form-group col-sm-12">
        <label>Signature {{idx + 1}}</label>
        <div class="txInfo">{{inv.signers[idx]}}</div>
        <div class="txInfo">{{inv.signatures[idx].substring(0, 64)}}</div>
      </div>
    </div>
</div>
  <div class="row"></div>

</div>
