<div id="loading">
  <div id="container">
    <div id="pos">
      <div class="cube">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
        <div class="bottom"></div>
        <div class="shadow"></div>
      </div>
      <div class="cube">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
        <div class="bottom"></div>
        <div class="shadow"></div>
      </div>
      <div class="cube">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
        <div class="bottom"></div>
        <div class="shadow"></div>
      </div>
      <div class="cube">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
        <div class="bottom"></div>
        <div class="shadow"></div>
      </div>
      <div class="cube">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
        <div class="bottom"></div>
        <div class="shadow"></div>
      </div>
      <div class="cube">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
        <div class="bottom"></div>
        <div class="shadow"></div>
      </div>
      <div class="cube">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
        <div class="bottom"></div>
        <div class="shadow"></div>
      </div>
      <div class="cube">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
        <div class="bottom"></div>
        <div class="shadow"></div>
      </div>
    </div>
  </div>
</div>
