<form (ngSubmit)="onSubmit()" #Invoice="ngForm" id="invoiceForm">
    <label *ngIf="error" class="alert alert-danger">Error: select buyer</label>
    <button type="button" class="btn pull-right" id="autoComplete" (click)="autoComplete()">✓✓ Autocomplete fields</button>
    <br>
    <br>
  <h4>Basic details</h4>
  <div class="form-inline">
    <div class="form-group">
      <label for="invoiceDate">Date</label>
      <input type="text" class="form-control" id="invoiceDate" [(ngModel)]="inv.invoiceDate" name="invoiceDate" placeholder="Date">
    </div>
    <div class="form-group">
      <label for="invoiceId">Invoice ID</label>
      <input type="text" class="form-control" id="invoiceId" placeholder="Invoice Id" required [(ngModel)]="inv.invoiceId" name="invoiceId">
    </div>
    <div class="form-group">
      <label for="term">Term</label>
      <input type="text" class="form-control" id="term" placeholder="Term" [(ngModel)]="inv.term" name="term">
    </div>
  </div>

  <h4>Seller details</h4>
  <div class="form-inline">
    <div class="form-group">
      <label for="sellerName">Name</label>
      <input type="text" class="form-control" id="sellerName" required placeholder="Name" [(ngModel)]="inv.sellerName" name="sellerName">
    </div>
    <div class="form-group">
      <label for="sellerAddress">Address</label>
      <input type="text" class="form-control" id="sellerAddress" placeholder="Address" [(ngModel)]="inv.sellerAddress" name="sellerAddress">
    </div>
  </div>

  <h4>Buyer details</h4>
  <div class="form-inline">
    <div class="form-group">
      <label for="buyerName">Name</label>
      <input type="text" class="form-control" id="buyerName" required minlength="5" maxlength="30" placeholder="Name" [(ngModel)]="inv.buyerName" name="buyerName" (click)="lookupBuyer()" [ngClass]="{'glow': glow}">
    </div>
    <div class="form-group">
      <label for="buyerAddress">Address</label>
      <input type="text" class="form-control" id="buyerAddress" placeholder="Address" [(ngModel)]="inv.buyerAddress" name="buyerAddress">
    </div>
  </div>

  <h4>Purchased goods</h4>
  <div class="form-inline">
    <div class="form-group">
      <label for="goodsDescription">Description</label>
      <input type="text" class="form-control" id="goodsDescription" placeholder="Description" [(ngModel)]="inv.goodsDescription"
        name="goodsDescription">
    </div>
    <div class="form-group">
      <label for="goodsPurchaseOrderRef">Purchase order reference</label>
      <input type="text" class="form-control" id="goodsPurchaseOrderRef" placeholder="Purchase Order Ref" [(ngModel)]="inv.goodsPurchaseOrderRef"
        name="goodsPurchaseOrderRef">
    </div>
    <div class="form-group">
      <label for="goodsQuantity">Quantity</label>
      <input type="text" class="form-control" id="goodsQuantity" placeholder="Quantity" [(ngModel)]="inv.goodsQuantity" name="goodsQuantity">
    </div>
    <div class="form-group">
      <label for="goodsUnitPrice">Unit price</label>
      <input type="text" class="form-control" id="goodsUnitPrice" placeholder="Unit Price" [(ngModel)]="inv.goodsUnitPrice" name="goodsUnitPrice">
    </div>
    <div class="form-group">
      <label for="goodsGrossWeight">Gross weight</label>
      <input type="text" class="form-control" id="goodsGrossWeight" placeholder="Gross Weight" [(ngModel)]="inv.goodsGrossWeight"
        name="goodsGrossWeight">
    </div>
  </div>

  <hr class="modal-hr">

    <div class="modal-actions">
      <span class="cancel" (click)="close()">Cancel</span>
      <input type="submit" class="submit" value="Create Invoice">
    </div>

<div class="fix"></div>

</form>
