<form (ngSubmit)="onSubmit()" #Invoice="ngForm">

  <h4>Basic details</h4>
  <button type="button" class="btn btn-success pull-right" id="autoComplete" (click)="autoComplete()">Autocomplete</button>

<div class="form-inline">
  <div class="form-group">
    <label for="invoiceDate">Date</label>
    <input type="text" class="form-control" id="invoiceDate" [(ngModel)]="inv.invoiceDate" name="invoiceDate" placeholder="Date">
  </div>
  <div class="form-group">
    <label for="invoiceId">Invoice ID</label>
    <input type="text" class="form-control" id="invoiceId" placeholder="Invoice Id" required [(ngModel)]="inv.invoiceId" name="invoiceId">
  </div>
  <div class="form-group">
    <label for="term">Term</label>
    <input type="text" class="form-control" id="term" placeholder="Term" [(ngModel)]="inv.term" name="term">
  </div>
</div>



<h4>Seller details</h4>
<div class="form-inline">
<div class="form-group">
        <label for="sellerName">Name</label>
        <input type="text" class="form-control" id="sellerName" placeholder="Name" [(ngModel)]="inv.sellerName" name="sellerName">
</div>
<div class="form-group">
    <label for="sellerAddress">Address</label>
  <input type="text" class="form-control" id="sellerAddress" placeholder="Address" [(ngModel)]="inv.sellerAddress" name="sellerAddress">
</div>
</div>


<h4>Buyer details</h4>
<div class="form-inline">
    <div class="form-group">
        <label for="buyerName">Name</label>
        <input type="text" class="form-control" id="buyerName" placeholder="Name" [(ngModel)]="inv.buyerName" name="buyerName">
    </div>
    <div class="form-group">
        <label for="buyerAddress">Address</label>
        <input type="text" class="form-control" id="buyerAddress" placeholder="Address" [(ngModel)]="inv.buyerAddress" name="buyerAddress">
    </div>
  </div>

  <h4>Purchased goods</h4>
  <div class="form-inline">
      <div class="form-group">
        <label for="goodsDescription"></label>
        <input type="text" class="form-control" id="goodsDescription" placeholder="Description" [(ngModel)]="inv.goodsDescription" name="goodsDescription">
      </div>
      <div class="form-group">
        <label for="goodsPurchaseOrderRef"></label>
        <input type="text" class="form-control" id="goodsPurchaseOrderRef" placeholder="Purchase Order Ref" [(ngModel)]="inv.goodsPurchaseOrderRef" name="goodsPurchaseOrderRef">
      </div>
      <div class="form-group">
        <label for="goodsQuantity"></label>
        <input type="text" class="form-control" id="goodsQuantity" placeholder="Quantity" [(ngModel)]="inv.goodsQuantity" name="goodsQuantity">
      </div>
      <div class="form-group">
        <label for="goodsUnitPrice"></label>
        <input type="text" class="form-control" id="goodsUnitPrice" placeholder="Unit Price" [(ngModel)]="inv.goodsUnitPrice" name="goodsUnitPrice">
      </div>
      <div class="form-group">
        <label for="goodsGrossWeight"></label>
        <input type="text" class="form-control" id="goodsGrossWeight" placeholder="Gross Weight" [(ngModel)]="inv.goodsGrossWeight" name="goodsGrossWeight">
      </div>
  </div>

    <input type="file">

    <input type="submit" class="submit" value="Create Invoice">

  </form>
