<h1>
  Welcome to the Letter of Credit demo!
</h1>

<ul>
  <li *ngFor="let peer of scannedPeers">{{peer.name}} on port {{peer.port}}</li>
</ul>

<div class="container">
	<div class="row">
		<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" [ngClass]="currentStep == 0 ? 'active' : 'disabled'">
                        <a href="#step0" data-toggle="tab" aria-controls="step1" role="tab" title="Step 0">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-globe"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" [ngClass]="currentStep == 1 ? 'active' : 'disabled'">
                        <a href="#step1" data-toggle="tab" aria-controls="step2" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-globe"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" [ngClass]="currentStep == 2 ? 'active' : 'disabled'">
                        <a href="#step2" data-toggle="tab" aria-controls="step3" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-piggy-bank"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" [ngClass]="currentStep == 3 ? 'active' : 'disabled'">
                        <a href="#step3" data-toggle="tab" aria-controls="complete" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-piggy-bank"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" [ngClass]="currentStep == 4 ? 'active' : 'disabled'">
                      <a href="#step4" data-toggle="tab" aria-controls="complete" role="tab" title="Step 4">
                          <span class="round-tab">
                              <i class="glyphicon glyphicon-usd"></i>
                          </span>
                      </a>
                  </li>

                  <li role="presentation" [ngClass]="currentStep == 5 ? 'active' : 'disabled'">
                      <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                          <span class="round-tab">
                              <i class="glyphicon glyphicon-ok"></i>
                          </span>
                      </a>
                  </li>
                </ul>
            </div>

            <form role="form">
                <div class="tab-content">
                    <div class="tab-pane" [ngClass]="{'active': currentStep == 0}" role="tabpanel" id="step0">
                        <h3>Seller</h3>
                        <p>Let's first set up which node will act as the seller</p>

                        <input (click)="lookupPeer('seller')" value="identityService.seller">

                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-primary next-step" (click)="moveForward()">Save and continue</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" [ngClass]="{'active': currentStep == 1}" role="tabpanel" id="step1">
                        <h3>Buyer</h3>
                        <p>Let's now set up the buyer</p>

                        <input (click)="lookupPeer('buyer')" value="identityService.buyer">

                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step" (click)="moveBack()">Previous</button></li>
                            <li><button type="button" class="btn btn-primary next-step" (click)="moveForward()">Save and continue</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" [ngClass]="{'active': currentStep == 2}" role="tabpanel" id="step2">
                        <h3>Advising Bank</h3>
                        <p>This bank represents the seller, let's set it up</p>

                        <input (click)="lookupPeer('advising')" value="identityService.advising">

                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step" (click)="moveBack()">Previous</button></li>
                            <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                            <li><button type="button" class="btn btn-primary btn-info-full next-step" (click)="moveForward()">Save and continue</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" [ngClass]="{'active': currentStep == 3}" role="tabpanel" id="step3">
                      <h3>Issuing Bank</h3>
                      <p>Now the bank representing the buyer</p>
                      <ul class="list-inline pull-right">

                          <input (click)="lookupPeer('issuing')" value="identityService.issuing">

                          <li><button type="button" class="btn btn-default prev-step" (click)="moveBack()">Previous</button></li>
                          <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                          <li><button type="button" class="btn btn-primary btn-info-full next-step" (click)="moveForward()">Save and continue</button></li>
                      </ul>
                  </div>
                    <div class="tab-pane" [ngClass]="{'active': currentStep == 4}" role="tabpanel" id="central">
                        <h3>Central Bank</h3>
                        <p>Finally, the Central Bank which will issue cash to the other banks</p>

                        <input (click)="lookupPeer()" value="identityService.central">

                        <ul class="list-inline pull-right">
                          <li><button type="button" class="btn btn-default prev-step" (click)="moveBack()">Previous</button></li>
                          <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
                      </ul>
                    </div>
                    <div class="tab-pane" [ngClass]="{'active': currentStep == 5}" role="tabpanel" id="complete">
                        <h3>Complete</h3>
                        <p>Below are all the mappings. Hit launch to begin.</p>

                        <ul class="list-inline pull-right">
                          <li><button type="button" class="btn btn-primary btn-info-full next-step">Launch</button></li>
                      </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </section>
   </div>
</div>
