<header></header>

<div class="body-wrapper">

<div class="row">
<div class="col-md-2">
  <main-menu></main-menu>
</div>

<div class="col-md-10">

  <div class="row">
    <div class="col-md-10">
        <all-invoice></all-invoice>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
        <awaiting-approval></awaiting-approval>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <all-loc-buyer [getAllUrl]="'buyer'"></all-loc-buyer>
    </div>
  </div>
</div>
</div>

</div>
