<div class="component">
    <div class="panel-heading">Letters of Credit</div>
    <div class="panel-body">
      <div class="grid grid-pad">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>Id</th>
            <th>Applicant</th>
            <th>Beneficiary</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Status</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <ng-container *ngFor="let loc of locs">
                <tr *ngIf="loc.status != 'Live'">
              <td>
                  <a (click)="openLocModal(loc.id)">{{loc.orderRef}}</a>
              </td>
              <td>
                  <a (click)="openLocModal(loc.id)">{{loc.applicant}}</a>
              </td>
              <td>
                  <a (click)="openLocModal(loc.id)">{{loc.beneficiary}}</a>
              </td>
              <td>
                  <a (click)="openLocModal(loc.id)">{{loc.amount + " " + loc.currency}}</a>
              </td>
              <td>
                  <a (click)="openLocModal(loc.id)">{{loc.description}}</a>
              </td>
              <td>
                <a (click)="openLocModal(loc.id)">{{loc.status}}</a>
              </td>
              <td>
                <span (click)="openBol(loc.orderRef)" class="action"><img src="assets/bill.png" height="20px" class="action-img">Bill of Lading</span>
              </td>
              <td>
                <span (click)="openPackingList(loc.orderRef)" class="action"><img src="assets/box.png" height="20px" class="action-img">Packing List</span>
              </td>
              <td>
                <span (click)="payBeneficiary(loc.orderRef)" class="action" [ngClass]="{'disabled': loc.beneficiaryPaid == true}"><img src="assets/hand.png" height="20px" class="action-img">Pay Beneficiary</span>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
